/*===============================================
Buttons
===============================================*/

.button{
    border-radius: 15%;
    border-width: 3px;
    margin: 5px;
}

.follow-button {
    background-color: var(--dark-blue-color);
    border-color: var(--dark-blue-color);;
    color: white;
}

.subscribe-button {
    background-color: white;
    color: var(--blue-color);
    font-weight: bold;
    border-color: var(--dark-blue-color);
}

.newer-post-button {
    background-color: var(--dark-blue-color);
    border-color: var(--dark-blue-color);;
    color: white;
}

.older-post-button {
    background-color: white;
    color: var(--blue-color);
    font-weight: bold;
    border-color: var(--dark-blue-color);
}

/*===============================================
Containers
===============================================*/

/* Flex-box */

.flex-box{
    display: flex;
    flex-wrap: wrap;
}

.flex-box div{
    margin: 15px;
}

/* Blog post "About" container */

.about{
    width: 100%;
    background-color: var(--light-gray-color);
    padding: 10px 5px;
    margin: 15px 0px;
}

/* Frame content */

.frame{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid var(--light-gray-color);
}

/* Color pallet */

.color-circle{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    position: relative;
}

.color-circle span{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*===============================================
Miscelaneous
===============================================*/

/* Section separator (horizontal line)*/

.separator{
    width: 100%;
    border: 1px solid var(--light-gray-color);
}