/* Responsive design */
@media (max-width: 600px){
    .page-layout{  /* Small screens */
        display:grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 100px 1fr 100px;
        grid-template-areas:
        "hd hd"
        "sb sb"
        "main main"
        "ft ft";
    }
}

@media (min-width: 601px){
    .page-layout { /* Medium-Large Screens */
        display:grid;
        grid-template-columns: 100px 100px 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas:
        "hd hd hd"
        "sb sb main"
        "ft ft ft";
    }
}

.header{
    grid-area: hd;  /* takes up all the width */
    margin: 15px;
    padding: 5px 15px;
}
.sidebar{
    grid-area: sb;
    margin: 15px;
    padding: 5px 15px;
}
.main{
    grid-area: main;
    margin: 15px;
    padding: 5px 15px;
}
.footer{
    grid-area: ft;  /* takes up all the width */
    margin: 15px;
    padding: 5px 15px;
    border-radius: 2%;
    background-color: #3a3a3a;
    color: #ffffff;
}
h2{
    color: #00b7ff;
    margin-top: 5px;
    margin-bottom: 1px;
}
.sidebar-links {
    color: #00b7ff;
  }
.button{
    border-radius: 15%;
    border-width: 3px;
}
.blog-area{
    display: flex;
    flex-wrap: wrap;
}
.blog-container{
    width: 300px;
    border-radius: 5%;
    background-color: #d3d3d3;
    text-align: left;
    padding: 25px;
    margin: 15px;
}
.blog-date{
    color: #00b7ff;
    margin-top: 1px;
}
.follow-button {
    background-color: #008cff;
    border-color: #008cff;
    color: #ffffff;
}
.subscribe-button {
    background-color: #ffffff;
    color: #00b7ff;
    font-weight: bold;
    border-color: #008cff;;
}
a {
    text-decoration: none;  /* Remove underlining from links */
  }