@media (max-width: 600px){
    .page-layout{  /* Small screens */
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 600px 150px;
        grid-template-areas:
        "hd hd"
        "main main"
        "sb sb"
        "ft ft";
    }
}

@media (min-width: 601px){
    .page-layout { /* Medium-Large Screens */
        display:grid;
        grid-template-columns: 1fr 200px 200px;
        grid-template-rows: 100px 1fr 150px;
        grid-template-areas:
        "hd sb sb"
        "main sb sb"
        "ft ft ft";
    }
}

.header{
    grid-area: hd;  /* takes up all the width */
    margin: 15px;
    padding: 5px 15px;
    text-align: center;
}
.main{
    grid-area: main;
    margin: 15px;
    padding: 5px 15px;
}
.sidebar{
    grid-area: sb;
    margin: 15px;
    padding: 5px 15px;
}
.footer{
    grid-area: ft;  /* takes up all the width */
    margin: 15px;
    padding: 5px 15px;
    background-color: rgb(58, 58, 58);
    color: white;
}
h1, h2{
    color: rgb(0, 183, 255);
    margin-top: 5px;
    margin-bottom: 1px;
}
.main h2{
    margin-bottom: 1px;
}
.main p{
    margin-top: 1px;
}
.author-container{
    display: grid;
    position: relative;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    "img aut"
    "img desc";
    margin-bottom: 25px;
     /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.5s;
}
.author-container:hover {
    box-shadow: 0 8px 16px 0 #00000033;
  }
.author-container img{
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    margin: auto;
    grid-area: img;
    border-radius: 50%;
}
.author-name{
    grid-area: aut;
    color: rgb(0, 183, 255);
    padding-top: 5px;
}
.author-description{
    grid-area: desc;
    padding-top: 10px;
}
.sidebar-header{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    margin: 5px;
}
.sidebar-links {
    color: rgb(0, 183, 255);
}
.button{
    border-radius: 15%;
    border-width: 3px;
}
.blog-area{
    display: flex;
    flex-wrap: wrap;
}
.blog-container{
    width: 300px;
    border-radius: 5%;
    background-color: lightgray;
    text-align: left;
    padding: 25px;
    margin: 15px;
}
.blog-date{
    color: rgb(0, 183, 255);
    margin-top: 1px;
}
.separator{
    width: 100%;
    border: 1px solid lightgray;
}
.frame{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid lightgray;
}
.newer-post-button {
    background-color: rgb(0, 140, 255);
    border-color: rgb(0, 140, 255);;
    color: white;
    margin: 5px;
}
.older-post-button {
    background-color: white;
    color: rgb(0, 183, 255);
    font-weight: bold;
    border-color: rgb(0, 140, 255);;
    margin: 5px;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
}
.follow-button {
    background-color: rgb(0, 140, 255);
    border-color: rgb(0, 140, 255);;
    color: white;
    margin: 5px;
}
.subscribe-button {
    background-color: white;
    color: rgb(0, 183, 255);
    font-weight: bold;
    border-color: rgb(0, 140, 255);
    margin: 5px;
}
.about{
    width: 100%;
    background-color: lightgray;
    padding: 10px 5px;
}
a {
    text-decoration: none;  /* Remove underlining from links */
  }